body{
    margin: 0;
    padding: 0;
    background: #262626;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background: #f1f1f1;
    /* width: 200px; */
    /* height: 200px; */
    padding: 100px;
    border: 20px solid salmon;
    margin: 100px;
}